@model LCode.Models.Video

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/assistir.css">
</head>
<body>
    <div>
        <video  width="760" height="430" allowfullscreen controls>
            <source src="@Url.Content(Model.video_link)"/>
        </video>
    </div>
</body>
</html>
