@model LCode.Models.Video

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/assistir.css">
</head>
<body>
    <div>
        @if (Model.video_link != null)
        {
            <video width="760" height="430" allowfullscreen controls>
                <source src="@Url.Content(Model.video_link)" />
            </video>
        }
        else
        {
            <video width="760" height="430" allowfullscreen controls>
                <source src="" />
            </video>
        }
    </div>
</body>
</html>
