@model LCode.ViewModels.UsuarioCursoViewModel
@{
    Layout = null;
}



    <head>
        <meta charset="utf-8">
        <title>Imprima seu certificado!</title>
        <link rel="stylesheet" href="~/Content/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/certificado.css">
        <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap" rel="stylesheet">
        <link rel="icon" type="~/image/png" sizes="16x16" href="~/image/favicon.png">
        <link rel="stylesheet " href="https://use.fontawesome.com/releases/v5.5.0/css/all.css " integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU " crossorigin="anonymous ">

    </head>

<body>
    <header>
        <img src="~/image/bandeira.png">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                    <h5 class="certificado-title">
                        Certificado de conclusão
                    </h5>
                    <h5 class="declaration fins">
                        Certifico para os devidos fins que
                    </h5>
                    <h3 class="nome-aluno">
                        @Html.DisplayFor(model => model.Usu_nome)</h3>
                        <h5 class="declaration">
                            Assistiu vídeo-aulas do curso <span class="nome-curso">@Html.DisplayFor(model => model.Curso_nome) </span> com carga horária estimada em @Html.DisplayFor(model => model.Curso_duracao) horas e concluído em @Html.DisplayFor(model => model.Hora_Certificado).
                            <h5>
                                <img src="~/image/selo.png" class="selo">
                </div>
            </div>
        </div>
    </header>
</body>

