
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Criar curso</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="image/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    @Styles.Render("~/Content/css")

</head>

<body>
    <script src="js/bootstrap.min.js"></script>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-12 mt-5 ">
                            <div class="meus-cursos">
                                <div class="card-new-course">
                                    <div class="card-body">
                                        <div class="img-meus-cursos">
                                            <i class="far fa-edit"></i>
                                        </div>
                                        <h5 class="card-title title-new-course">Iniciar a criação do curso</h5>
                                        <a href="@Url.Action("CadastroCurso", "Curso")"><button type="submit" class="btn btn-purple-form mt-4">Crie seu curso</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
