@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Criar curso</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="~/Content/cad-curso.css">
    <link rel="stylesheet" href="~/Content/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="~/image/png" sizes="16x16" href="~/image/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>
    <script src="js/bootstrap.min.js"></script>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-12 mt-5 ">
                            @if (ViewBag.cursoCriado != null)
                            {
                                <div class="alert alert-success">
                                    @ViewBag.cursoCriado
                                </div>
                            }
                            <div class="meus-cursos">
                                <div class="card-new-course">
                                    <div class="card-body">
                                        <div class="img-dicas">
                                            <img src="~/image/criar-curso.png" class="mt-2">
                                        </div>
                                        <h5 class="card-title title-new-course">Iniciar a criação do curso</h5>
                                        <a href="@Url.Action("CadastroCurso", "Curso")"><button type="submit" class="btn btn-purple-form mt-4">Crie seu curso</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mt-3">
                            <h4 class="text-center">Achamos que essas dicas serão úteis na criação do seu curso.</h4>
                        </div>

                        <div class="col-sm-12 mt-3 ">
                            <div class="meus-cursos">
                                <div class="card-dicas">
                                    <div class="card-body">
                                        <div class="img-dicas mt-4">
                                            <img src="~/image/video-interativo.png" class="">
                                        </div>
                                        <h6 class="title-card-dicas">Crie um curso atrativo</h6>
                                        <p>
                                            Você poderá criar um curso atrativo, mesmo que esta seja a primeira vez que fará isso ou que você já tenha experiência de muitos anos. Compilamos os recursos e as práticas recomendadas para ajudá-lo a alcançar outro patamar de qualidade, independentemente do seu ponto de partida.
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 mt-5 ">
                            <div class="meus-cursos">
                                <div class="card-dicas">
                                    <div class="card-body">
                                        <div class="img-dicas">
                                            <img src="~/image/estrelas-user.png" class="">
                                        </div>
                                        <h6 class="title-card-dicas">Conquiste seu público</h6>
                                        <p>Prepare seu curso para o sucesso conquistando seu público. Na LCode, você terá acesso a alunos ansiosos para aprender com você. Para se destacar da concorrência, é importante cuidar do próprio sucesso.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 mt-5 ">
                            <div class="meus-cursos">
                                <div class="card-dicas">
                                    <div class="card-body">
                                        <div class="img-dicas">
                                            <img src="~/image/dicas-curso.png" class="">
                                        </div>
                                        <h6 class="title-card-dicas">
                                            Comece agora com vídeo
                                        </h6>
                                        <p>Aulas em vídeo de alta qualidade podem ser um diferencial de seu curso. Use nossos recursos para aprender os princípios básicos.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </section>

</body>

</html>