@model LCode.Models.Video

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="~/Content/assistir.css">
    <link rel="icon" type="~/image/png" sizes="16x16" href="~/image/favicon.png">
</head>
<body>
    <div class="description">
        <p>@Html.DisplayFor(model => model.video_descricao)</p>
    </div>
</body>
</html>
