<head>
    <meta charset="utf-8">
    <title>Cursos online, matricule-se já!</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/global.css">
    <link rel="stylesheet" href="~/Content/index.css">
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="icon" type="~/image/png" sizes="16x16" href="~/image/favicon.png">
    <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous" />
</head>
    <main>
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-5">
                        <h2>Nossos <span class="color-purple"> Serviços</span></h2>
                        <p class="mt-3">
                            A nossa plataforma sempre procura inovar o mercado de ensino, com esse intuito dentre os nossos serviços encontra-se pontos importantíssimos para melhor aproveitamento de nossos alunos.
                        </p>
                    </div>
                    <div class="col-lg-3 card-icon mr-auto">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <!--<i class="icon-screen-desktop m-auto text-primary"></i>-->
                                <i class="fas fa-tv icon-screen-desktop m-auto text-primary"></i>
                            </div>
                            <h3>Responsivo</h3>
                            <p class="lead mb-0">As vídeos aulas podem ser acessadas facilmente de qualquer dispositivo, a qualquer hora.</p>
                        </div>
                    </div>

                    <div class="col-lg-3 card-icon mr-auto">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class=""></i>
                                <i class="fas fa-play-circle icon-screen-desktop m-auto text-primary"></i>
                            </div>
                            <h3>Vídeos</h3>
                            <p class="lead mb-0">As vídeos aulas podem ser acessadas facilmente de qualquer dispositivo, a qualquer hora.</p>
                        </div>
                    </div>


                    <div class="col-lg-3 card-icon mr-auto">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex">
                                <i class=""></i>
                                <i class="fas fa-users icon-screen-desktop m-auto text-primary"></i>
                            </div>
                            <h3>Suporte</h3>
                            <p class="lead mb-0">O nosso suporte, conta com um chat na qual o aluno ou novo usuário pode tirar suas dúvidas sem qualquer restrição.</p>
                        </div>
                    </div>



                </div>
                <!--<button type="button" class="btn btn-outline-primary mt-5">VER MAIS</button>-->
            </div>
        </section>


        <section class="p-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt-5">
                        <h2><span class="color-purple">Sobre</span> nossa Plataforma</h2>
                    </div>
                    <div class="col-lg-6 text-justify mt-4">
                        <p>
                            Com uma metologia moderna, a equipe desenvolveu A LCode com o intuito de atender o máximo de pessoas possível, através de cursos online.
                            Contando com algumas tecnológias para melhor aproveitamento da plataforma.
                        </p>
                        <ul>
                            <li class="li-color"><span>Chat online para tirar dúvidas;<span></li>
                            <li class="li-color"><span>Perfil do usuário para melhor monitoramento de aulas;<span></li>
                            <li class="li-color"><span>Material disponibilizado em PDF;<span></li>
                            <li class="li-color"><span>Certificado ao término do curso.<span></li>
                        </ul>

                        <button type="button" class="btn btn-purple mr-3 mt-5">Ver cursos</button>
                        <a href="about.html"> <button type="button" class="btn btn-outline-purple mt-5 ">Saber mais...</button></a>
                    </div>
                    <iframe width="500" height="300" src="https://www.youtube.com/embed/v2fqiy1YW9s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </div>

        </section>


        <section class="p-5 mt-5 bg-light">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mb-5 text-center">
                        <h2><span class="color-purple">Principais</span> Categorias</h2>
                        <p class="mt-3">
                            A LCode conta com um sistema de categorias de curso para melhor entendimento do usuário. Com uma breve descrição
                            de cada categoria.
                        </p>
                    </div>


                    <div class="col-sm-3 mt-4 card-categ">
                        <a href="#" class="a">
                            <div class="card card-categoria">
                                <div class="card-header media">
                                    <div class="box-icon">
                                        <i class="fas fa-mobile-alt align-self-start mr-3 icon-categoria"></i>
                                    </div>
                                    <!--<img class="align-self-start mr-3 media-img" src="~/image/logo.png" alt="Imagem de exemplo genérica">-->
                                    <h5 class="ml-3">Cursos de Mobile</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry.
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 mt-4">
                        <a href="#" class="a">
                            <div class="card card-categoria">
                                <div class="card-header media">
                                    <div class="box-icon">
                                        <i class="fas fa-code align-self-start mr-3 icon-categoria"></i>
                                    </div>
                                    <h5 class="ml-3">Cursos de Mobile</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry.
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 mt-4">
                        <a href="#" class="a">
                            <div class="card card-categoria">
                                <div class="card-header media">
                                    <div class="box-icon">
                                        <i class="fab fa-node-js align-self-start mr-3 icon-categoria"></i>
                                    </div>
                                    <h5 class="ml-3">Cursos de Mobile</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry.
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col-sm-3 mt-4">
                        <a href="#" class="a">
                            <div class="card card-categoria">
                                <div class="card-header media">
                                    <div class="box-icon">
                                        <i class="fas fa-cog align-self-start mr-3 icon-categoria"></i>
                                    </div>
                                    <h5 class="ml-3">Cursos de Mobile</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry.
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col-sm-3 mt-4">
                        <a href="#" class="a">
                            <div class="card card-categoria">
                                <div class="card-header media">
                                    <div class="box-icon">
                                        <i class="fas fa-eye align-self-start mr-3 icon-categoria"></i>
                                    </div>
                                    <h5 class="ml-3">Cursos de Mobile</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry.
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col-sm-3 mt-4">
                        <a href="#" class="a">
                            <div class="card card-categoria">
                                <div class="card-header media">
                                    <div class="box-icon">
                                        <i class="fas fa-bullseye align-self-start mr-3 icon-categoria"></i>
                                    </div>
                                    <h5 class="ml-3">Cursos de Mobile</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry.
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 mt-4">
                        <a href="#" class="a">
                            <div class="card card-categoria">
                                <div class="card-header media">
                                    <div class="box-icon">
                                        <i class="fas fa-terminal align-self-start mr-3 icon-categoria"></i>
                                    </div>
                                    <h5 class="ml-3">Cursos de Mobile</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry.
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-3 mt-4">
                        <a href="#" class="a">
                            <div class="card card-categoria">
                                <div class="card-header media">
                                    <div class="box-icon">
                                        <i class="fas fa-database  align-self-start mr-3 icon-categoria"></i>
                                    </div>
                                    <h5 class="ml-3">Cursos de Mobile</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry.
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>


                </div>
            </div>

        </section>


        <section class="comments">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-12 mt-5 text-center">
                        <h2 style="color: #FFF;">O que nossos alunos dizem</h2>

                    </div>
                    <div class="col-lg-4">
                        <div class="media mt-5 mr-3">
                            <img class="mr-3 rounded-circle" src="~/image/avatar.png" alt="Imagem de exemplo genérica">
                            <div class="media-body">
                                <h5 class="mt-1">Alan Carter</h5>
                                <p class="mt-2"><span>"A LCode salvou minha vida.</span> Não tenho tempo nem dinheiro para fazer faculdade. Minha meta é tornar-me um desenvolvedor da web freelancer e, graças à LCode, estou a um passo disso."</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="media mt-5 mr-3">
                            <img class="mr-3 rounded-circle" src="~/image/avatar.png" alt="Imagem de exemplo genérica">
                            <div class="media-body">
                                <h5 class="mt-1">Katie Morris</h5>
                                <p class="mt-2">"A plataforma é incrível. Além das metodologias do curso serem de alcance pois as aulas saõ totalmente gratuitas, para quem está começando ou quem já está avançado em alguma tecnologia, no fórum de dúvidas sempre algum instrutor te responde em um curto espaço de tempo.<span> Na LCode, seu conhecimento é prioridade."</span></p>

                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="media mt-5 mr-3">
                            <img class="mr-3 rounded-circle" src="~/image/avatar.png" alt="Imagem de exemplo genérica">
                            <div class="media-body">
                                <h5 class="mt-1">David Williams</h5>
                                <p class="mt-2">"Se você não sabe a ordem do que deve aprender e praticar para dominar uma tecnologia, a <span>forma como os cursos estão organizados e estruturados na LCode ajuda muito.</span>"</p>
                            </div>
                        </div>
                    </div>
        </section>



        <section class="p-5 bg-light register">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt-5">

                    </div>
                    <div class="col-lg-6 d-flex justify-content-center mt-1">
                        <img src="~/image/man.png" alt="..." class="img-thumbnail">
                    </div>

                    <div class="col-lg-6 text-justify mt-4">
                        <h2>Faça agora o seu <span class="color-purple">Cadastro</span></h2>
                        <p class="mt-4">
                            Se cadastre agora mesmo na nossa plataforma, podendo começar as aulas de qualquer curso, a qualquer hora com o acesso ilimitado.
                            Contando com ajuda de professores altamente capacitados e treinados, com a disponibilidade de material em PDF para consulta da matéria.
                        </p>


                        <button type="button" class="btn btn-purple mr-3 mt-5">Cadastrar</button>

                    </div>


                </div>

            </div>

        </section>
      


        