@model IEnumerable<LCode.Models.Curso>

@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Meus cursos</title>
    @Styles.Render("~/Content/css")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="image/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<body>
    <script src="js/bootstrap.min.js"></script>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        @foreach (var item in Model) 
                        {
                            <div class="col-sm-4 mt-5">
                                <a href="@Url.Action("AssistirCurso", "Curso", new { curso_id = item.Curso_id })" class="meus-cursos">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="img-meus-cursos">
                                                <img src="~/image/video.png">
                                            </div>
                                            <h5 class="card-title">@Html.DisplayFor(model => item.Curso_nome)</h5>
                                            <p class="card-text">@Html.DisplayFor(model => item.Curso_descricao)</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }                       
                    </div>
                </div>
            </div>
        </div>>
    </section>

</body>
