header{
    background: url(../image/banner-roxo.jpg);
}

.promotion{
    background-image: linear-gradient(to right, #4f2393, #551f8e, #5a1b89, #5e1784, #62137f, #6c1287, #771190, #820f98, #9810b0, #ae10c9, #c50fe2, #dc0cfc);
    height: 13rem;
}

.promotion p{
    color: #fff;
   font-size: 2rem;
  line-height: 13rem;
 text-align: center;
}

.direita img{
    padding: .15rem;
    background-color: rgba(255, 255, 255, 0);
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    width: 550px;
    height: 300px;
}

.direita p{
    font-size: 1.2rem;
}

.esquerda img{
    padding: .15rem;
    background-color: rgba(255, 255, 255, 0);
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    width: 550px;
    height: 350px;
}
.esquerda p{
    font-size: 1.2rem;
}

.categ{
    padding-top: 3%;
}
.categ-about{
    border-bottom: 5px solid #77008b;
    height: 12rem;
}
.categ-about:hover{
    transform: scale(1.1);
    transition: all 400ms ease-in-out;
    cursor: pointer;
  }

  .img-thumbnail-c{
    width: 320px!important;
    height: 450px;
  }

  .img-thumbnail-s{
    width: 430px!important;
    height: 600px;
  }

  .img-thumbnail{
      border: none;
  }