.title-head {
    font-size: 1.5rem;
}

.card-cart {
    background-color: rgb(255, 255, 255);
    height: 4.5rem;
    border-top: .2px solid #ccc;
    line-height: 3.5rem;
    border-collapse: separate;
    overflow: hidden;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 15px;
    border-collapse: separate;
    border-spacing: 5em;
}

.card-pay {
    background-color: rgba(255, 255, 255, 0.055);
    height: 4rem;
    line-height: 2.5rem;
    border-top: 1px solid rgba(214, 214, 214, 0.178);
}

.cart-img {
    height: 4rem;
    width: 4rem;
    float: left;
}

.cart-title {
    font-size: 25px;
    color: #616161;
    line-height: 50px;
}

.cart-text {
    font-size: 22px;
    color: #616161;
}

.cart-subtitle {
    font-weight: bold;
    margin-left: 30%;
    color: #797979;
    font-size: 17px;
}

.cart-subtitle-pay {
    color: #ebebeb;
    line-height: 50px;
}

.cart-price-pay {
    color: #ebebeb !important;
    line-height: 50px;
}

.cart-price {
    font-weight: bold;
    font-size: 20px;
    color: #797979;
}

.cart-icon {
    font-size: 22px;
    transition: all 300ms ease-in-out;
    color: #797979;
}

    .cart-icon:hover {
        cursor: pointer;
        color: #72008b;
        transition: all 300ms ease-in-out;
    }

.cart-comprar {
    background-color: rgb(241, 241, 241);
    height: 30rem;
    border-radius: 20px;
    -webkit-box-shadow: 4px 6px 14px -6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 6px 14px -6px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 6px 14px -6px rgba(0, 0, 0, 0.25);
}

    .cart-comprar > h5 {
        font-size: 20px;
    }

.cart-price-comprar {
    font-weight: bold;
    font-size: 22px;
    color: #6b6b6b;
}

.title-sumary {
    text-transform: capitalize;
    color: #585858;
    font-weight: 300;
}

.btn-cart {
    color: #fff;
    border: none;
    border-radius: 2rem;
    padding: .6rem 0rem;
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin-left: 1%;
}

    .btn-cart:hover {
        color: #fff;
        background-image: linear-gradient(to right, #7300b5, #9500c6, #b800d7, #ff00f4);
        box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
        background-position: 100% 0;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

.icon-pay-mastercard {
    font-size: 20px;
    background: rgb(255, 0, 0);
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(247, 170, 0, 1) 100%);
}

.icon-pay-visa {
    font-size: 20px;
    background: rgb(255, 255, 255);
    color: #1a1f71;
}

.icon-pay-cartao {
    font-size: 20px;
    color: rgba(41, 41, 41, 0.842);
}

.jumbotron-pay {
    top: 30% !important;
}

.white {
    color: rgb(255, 255, 255);
}

.cart-price-total {
    background-color: #eb7aff;
    width: 200px;
    height: 4rem;
    border-radius: 15px;
    color:rgb(249, 249, 249);
}

    .cart-price-total h3 {
        line-height: 60px;
        text-align: center;
        color: rgb(249, 249, 249);
    }

.total {
    line-height: 60px;
    color: rgb(249, 249, 249);
}

.progress {
    display: flex;
    margin-bottom: 0px;
    justify-content: space-between;
    height: 4rem;
    background: rgb(255, 255, 255);
}

.step {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #efefef;
}

.progress-bar {
    background-color: #007bff;
}

.step:after {
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 22px;
    width: 200px;
    height: 6px;
    content: '';
    background-color: #efefef;
}

.step:before {
    color: #2e2e2e;
    position: absolute;
    top: 40px;
}

.step:last-child:after {
    content: none;
}

.step.active {
    background-color: #1abc9c;
}

    .step.active:after {
        background-color: #1abc9c;
    }

    .step.active:before {
        color: #1abc9c;
    }

    .step.active + .step {
        background-color: #1abc9c;
    }

        .step.active + .step:before {
            color: #1abc9c;
        }

.step:nth-child(1):before {
    content: 'Carrinho';
}

.step:nth-child(2):before {
    right: -40px;
    content: 'Confirmação';
}

.step:nth-child(3):before {
    right: -30px;
    content: 'Pagamento';
}

.step:nth-child(4):before {
    right: 0;
    content: 'Finalizar';
}

.payment-method {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-left: 2%;
}

.method {
    display: flex;
    flex-direction: column;
    width: 252px;
    height: 122px;
    padding-top: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgb(249, 249, 249);
    justify-content: center;
    align-items: center;
}

.card-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .card-logos img {
        width: 55px;
        height: 33px;
    }

.radio-input {
    margin-top: 20px;
}

input[type='radio'] {
    display: inline-block;
}
