/*UTILITÁRIOS*/

h1,
h2,
h3 {
    font-weight: 700 !important;
}

p,
span {
    color: #4e4e4e;
}

.li-color {
    color: #72008b;
}

.color-purple {
    color: #7665cf;
}

.color-purple-2 {
    color: #eb7aff;
}

.purple {
    background-color: #8e24aa;
}


/*NAVBAR*/


.navbar {
    position: fixed;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 0 !important;
}

.navbar-brand img {
    width: 140px;
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

    .navbar-nav li a {
        color: #ffffff !important;
    }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #8e24aa;
}
#icon-carrinho {
    line-height: 80px !important;
}


/* MENU SCROLL*/

.navbar {
    position: fixed;
    background: rgba(0, 0, 0, 0);
    height: 80px;
    line-height: 80px;
    width: 100%;
    transition: all 300ms ease-in-out;
    z-index: 10;
}

    .navbar .logo {
        padding: .8rem .8rem;
        float: left;
        margin: 0 5rem;
    }

        .navbar .logo img {
            transition: all .5s ease-in-out;
            width: 160px;
            margin-top: .5%;
        }

    .navbar.scrolling {
        background: #7300a1;
        position: fixed;
        height: 60px;
        line-height: 80px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }

        .navbar.scrolling .logo {
            padding: .6rem .6rem;
        }

    .navbar .logo .img {
        width: 180px;
    }

    .navbar.scrolling .logo img {
        transition: all 300ms ease-in-out;
        width: 120px;
    }

.navbar-nav.scrolling li a {
    color: #000000 !important;
}

.navbar.scrolling ul li a.btn-login {
    padding: .6rem 2rem;
}

.navbar ul {
    float: right;
}

    .navbar ul li a:hover {
        color: #667eea;
        transition: all 300ms ease-in-out;
    }



/* HEADER */

header {
    background: url(../image/header-3.png) !important;
    position: relative;
    margin: 0;
    padding: 0;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    height: 80vh;
}

    header::before {
        content: "";
        width: 100%;
        height: 80vh;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(24, 9, 32, 0.26);
        display: block;
    }

.img-t {
    position: relative;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
}


/*SECTION BANNER*/

#banner {
    color: #fff !important;
    padding-top: 5%;
}

.promo-title {
    font-size: 45px;
    font-weight: 600;
    margin-top: 160px;
}


/*SERVIÇOS-ICONS*/

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

    .features-icons .features-icons-item {
        max-width: 20rem;
    }

        .features-icons .features-icons-item .features-icons-icon {
            height: 13rem;
        }

            .features-icons .features-icons-item .features-icons-icon i {
                font-size: 4rem;
            }

.icon-screen-desktop:before {
    /* content: "\e011";*/
    color: #8e24aa;
}

.icon-screen-desktop:hover {
    transform: scale(1.2);
    transition: all 300ms ease-in-out;
}

.card-icon {
    background-color: rgb(255, 255, 255);
    border: solid 1px #e0e0e0;
    -webkit-box-shadow: 3px 13px 11px -4px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 3px 13px 11px -4px rgba(0, 0, 0, 0.27);
    box-shadow: 3px 13px 11px -4px rgba(0, 0, 0, 0.27);
}

    .card-icon:hover {
        transform: scale(1.1);
        transition: all 400ms ease-in-out;
        cursor: pointer;
    }


/*BUTTONS*/

.btn-purple {
    color: #fff;
    background-color: #8e24aa;
    border: none;
    border-radius: 2rem;
    padding: .5rem 3rem;
    background-image: linear-gradient(to right, #7300b5, #9500c6, #b800d7, #db00e6, #ff00f4);
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

    .btn-purple:hover {
        color: #fff;
        background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
        box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
        background-position: 100% 0;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

.btn-outline-purple {
    border-radius: 2rem;
    padding: .5rem 3rem;
    color: #8e24aa;
    font-weight: 500;
    font-size: 1rem;
    background-color: transparent;
    background-image: none;
    border-color: #8e24aa;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

    .btn-outline-purple:hover {
        color: #fff;
        background-image: linear-gradient(to right, #7300b5, #9500c6, #b800d7, #db00e6, #ff00f4);
        border: none;
        transition: all 500ms ease-in-out;
        background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
        box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
        background-position: 100% 0;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }


/*SECTION CATEGORIAS*/

.bg-section-categorias {
    /*background-image: linear-gradient(to right, #7300b5, #9500c6, #b800d7, #db00e6, #ff00f4);*/
    /* background-image: linear-gradient(to right, #66007c, #890498, #ae06b3, #d506ce, #ff00e8);*/
    background-image: linear-gradient(to right bottom, #72008b, #78038f, #7f0794, #850b98, #8c0f9c, #9711a2, #a113a9, #ac15af, #bd15b9, #cf15c4, #e114cd, #f412d7);
}

    .bg-section-categorias h3 {
        color: rgb(255, 255, 255);
    }

.box-icon {
    width: 70px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid #7665cf;
}

.icon-categoria {
    font-size: 35px;
    /* display: flex; */
    /* justify-content: center; */
    position: absolute;
    top: 12%;
    left: 15%;
    transform: translateY(-11%) translateX(-5%);
    color: #7665cf;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.card-categoria {
    -webkit-box-shadow: 4px 6px 17px -6px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 4px 6px 17px -6px rgba(0, 0, 0, 0.64);
    box-shadow: 4px 6px 17px -6px rgba(0, 0, 0, 0.64);
    border-bottom: 5px solid #77008b;
    height: 275px;
    transition: all 300ms ease-in-out;
}

    .card-categoria:hover {
        transform: scale(1.1);
        transition: all 400ms ease-in-out;
        cursor: pointer;
    }

.a {
    text-decoration: none;
    color: #4e4e4e;
}

    .a:hover {
        text-decoration: none;
        color: #4e4e4e;
    }

footer {
    background-image: linear-gradient(to right, #4f2393, #551f8e, #5a1b89, #5e1784, #62137f, #6c1287, #771190, #820f98, #9810b0, #ae10c9, #c50fe2, #dc0cfc);
}

    footer p {
        color: #d3d3d3;
    }

    footer a {
        color: #d3d3d3;
    }

    footer i {
        color: #ffffff;
    }

    footer h6 {
        color: #ececec;
    }

.footer-copyright {
    background-color: #410058;
}
