@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Courgette");
iframe {
    width: 100%;
    height: 800px;
    margin: auto;
    margin-top: -1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 8;
    border: none;
    overflow-y: hidden;
}
.bg-mattBlackLight {
    background-color: #303337;
}

.text-mattBlackLight {
    color: #303337;
}

.navbar-nav li .dropdown-item {
    color: #212121!important;
}

.bg-mattBlackDark,
body,
.nav-link:hover,
.nav-link.active {
    background-color: #212121;
    border-radius: 30px;
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, .1);
}

.nav-link {
    margin: 10px 15px 0;
}

.text-mattBlackDark {
    color: #212121;
}

.bg-mattGray {
    background-color: #878d8d;
}

.text-mattGray,
body,
.nav-link .icon,
.nav-link .text {
    color: #878d8d;
}

.bg-mattRed {
    background-color: #ec6271;
}

.text-mattRed,
.nav-link:hover .icon,
.nav-link:hover .text,
.nav-link.active .icon,
.nav-link.active .text {
    color: #8E37D7;
    transition: all 300ms ease-in-out;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 1000px;
}

.wrapper {
    margin-top: 3.5rem;
}

.wrapper .sideMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 3.5rem auto auto;
    left: 0;
    width: 14.5rem;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 2000;
}

.wrapper .content {
    width: 100%;
    margin-left: 0rem;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

.wrapper.active .sideMenu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.nav-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: block;
    white-space: nowrap;
}

.nav-link .icon {
    margin-right: 0.25rem;
    font-size: 1.5rem;
    vertical-align: middle;
    height: 2rem;
    width: 2rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-link .text {
    font-size: 0.875rem;
}

@media (min-width: 992px) {
    .wrapper .sideMenu {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .wrapper .content {
        margin-left: 12.5rem;
    }
    .wrapper.active .sideMenu {
        width: 5rem;
    }
    .wrapper.active .sideMenu .nav-link {
        text-align: center;
    }
    .wrapper.active .sideMenu .nav-link .icon {
        margin-right: 0;
    }
    .wrapper.active .sideMenu .nav-link .text {
        display: none;
    }
    .wrapper.active .content {
        margin-left: 5rem;
    }
}
iframe {
    width: 100%;
    height: 800px;
    margin: auto;
    margin-top: -1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 8;
    border: none;
    overflow-y: hidden;
}

.avatar {
    width: 150px;
    height: 150px;
    margin-left: 30px;
    margin-bottom: 2rem;
    margin-top: .1rem;
}

/*# sourceMappingURL=style.css.map */